@import url(fonts/clear-sans.css);
html, body {
  margin: 0;
  padding: 0;
  background: #d9ffe5;
  color: #290206;
  font-family: "Clear Sans", "Helvetica Neue", Arial, sans-serif;
  font-size: 18px; 
  --tile1bgcolor1: red;
  --tile1bgcolor2: red;
  --tile1bgcolor3: red;
  --tile1fontcolor: #f9f6f2;
  --tile2bgcolor1: red;
  --tile2bgcolor2: red;
  --tile2bgcolor3: red;
  --tile2fontcolor: #f9f6f2; 
  --tile3bgcolor1: red;
  --tile3bgcolor2: red;
  --tile3bgcolor3: red;
  --tile3fontcolor: #f9f6f2;
  --tile4bgcolor1: red;
  --tile4bgcolor2: red;
  --tile4bgcolor3: red;
  --tile4fontcolor: #f9f6f2; 
  --tile5bgcolor1: red;
  --tile5bgcolor2: red;
  --tile5bgcolor3: red;
  --tile5fontcolor: #f9f6f2;
  --tile6bgcolor1: red;
  --tile6bgcolor2: red;
  --tile6bgcolor3: red;
  --tile6fontcolor: #f9f6f2; 
  --tile7bgcolor1: red;
  --tile7bgcolor2: red;
  --tile7bgcolor3: red;
  --tile7fontcolor: #f9f6f2;
  --tile8bgcolor1: red;
  --tile8bgcolor2: red;
  --tile8bgcolor3: red;
  --tile8fontcolor: #f9f6f2; 
  --tile9bgcolor1: red;
  --tile9bgcolor2: red;
  --tile9bgcolor3: red;
  --tile9fontcolor: #f9f6f2;
  --tile10bgcolor1: red;
  --tile10bgcolor2: red;
  --tile10bgcolor3: red;
  --tile10fontcolor: #f9f6f2; 
  --tile11bgcolor1: red;
  --tile11bgcolor2: red;
  --tile11bgcolor3: red;
  --tile11fontcolor: #f9f6f2;
  --tile12bgcolor1: red;
  --tile12bgcolor2: red;
  --tile12bgcolor3: red;
  --tile12fontcolor: #f9f6f2; 
  --tile13bgcolor1: red;
  --tile13bgcolor2: red;
  --tile13bgcolor3: red;
  --tile13fontcolor: #f9f6f2;
  --tile14bgcolor1: red;
  --tile14bgcolor2: red;
  --tile14bgcolor3: red;
  --tile14fontcolor: #f9f6f2; 
  --tile15bgcolor1: red;
  --tile15bgcolor2: red;
  --tile15bgcolor3: red;
  --tile15fontcolor: #f9f6f2;
  --tile16bgcolor1: red;
  --tile16bgcolor2: red;
  --tile16bgcolor3: red;
  --tile16fontcolor: #f9f6f2; 
  --tile17bgcolor1: red;
  --tile17bgcolor2: red;
  --tile17bgcolor3: red;
  --tile17fontcolor: #f9f6f2;
  --tile18bgcolor1: red;
  --tile18bgcolor2: red;
  --tile18bgcolor3: red;
  --tile18fontcolor: #f9f6f2; 
  --tile19bgcolor1: red;
  --tile19bgcolor2: red;
  --tile19bgcolor3: red;
  --tile19fontcolor: #f9f6f2;
  --tile20bgcolor1: red;
  --tile20bgcolor2: red;
  --tile20bgcolor3: red;
  --tile20fontcolor: #f9f6f2; 
  --tile21bgcolor1: red;
  --tile21bgcolor2: red;
  --tile21bgcolor3: red;
  --tile21fontcolor: #f9f6f2;
  --tile22bgcolor1: red;
  --tile22bgcolor2: red;
  --tile22bgcolor3: red;
  --tile22fontcolor: #f9f6f2; 
  --tile23bgcolor1: red;
  --tile23bgcolor2: red;
  --tile23bgcolor3: red;
  --tile23fontcolor: #f9f6f2;
  --tile24bgcolor1: red;
  --tile24bgcolor2: red;
  --tile24bgcolor3: red;
  --tile24fontcolor: #f9f6f2; 
  --tile25bgcolor1: red;
  --tile25bgcolor2: red;
  --tile25bgcolor3: red;
  --tile25fontcolor: #f9f6f2;
  --tile26bgcolor1: red;
  --tile26bgcolor2: red;
  --tile26bgcolor3: red;
  --tile26fontcolor: #f9f6f2; 
  --tile27bgcolor1: red;
  --tile27bgcolor2: red;
  --tile27bgcolor3: red;
  --tile27fontcolor: #f9f6f2;
  --tile28bgcolor1: red;
  --tile28bgcolor2: red;
  --tile28bgcolor3: red;
  --tile28fontcolor: #f9f6f2; 
  --tile29bgcolor1: red;
  --tile29bgcolor2: red;
  --tile29bgcolor3: red;
  --tile29fontcolor: #f9f6f2;
  --tile30bgcolor1: red;
  --tile30bgcolor2: red;
  --tile30bgcolor3: red;
  --tile30fontcolor: #f9f6f2; 
  --tile31bgcolor1: red;
  --tile31bgcolor2: red;
  --tile31bgcolor3: red;
  --tile31fontcolor: #f9f6f2;
  --tile32bgcolor1: red;
  --tile32bgcolor2: red;
  --tile32bgcolor3: red;
  --tile32fontcolor: #f9f6f2; 
  --tile33bgcolor1: red;
  --tile33bgcolor2: red;
  --tile33bgcolor3: red;
  --tile33fontcolor: #f9f6f2;
  --tile34bgcolor1: red;
  --tile34bgcolor2: red;
  --tile34bgcolor3: red;
  --tile34fontcolor: #f9f6f2; 
  --tile35bgcolor1: red;
  --tile35bgcolor2: red;
  --tile35bgcolor3: red;
  --tile35fontcolor: #f9f6f2;
  --tile36bgcolor1: red;
  --tile36bgcolor2: red;
  --tile36bgcolor3: red;
  --tile36fontcolor: #f9f6f2; 
  --tile37bgcolor1: red;
  --tile37bgcolor2: red;
  --tile37bgcolor3: red;
  --tile37fontcolor: #f9f6f2;
  --tile38bgcolor1: red;
  --tile38bgcolor2: red;
  --tile38bgcolor3: red;
  --tile38fontcolor: #f9f6f2; 
  --tile39bgcolor1: red;
  --tile39bgcolor2: red;
  --tile39bgcolor3: red;
  --tile39fontcolor: #f9f6f2;
  --tile40bgcolor1: red;
  --tile40bgcolor2: red;
  --tile40bgcolor3: red;
  --tile40fontcolor: #f9f6f2; 
  --tile41bgcolor1: red;
  --tile41bgcolor2: red;
  --tile41bgcolor3: red;
  --tile41fontcolor: #f9f6f2;
  --tile42bgcolor1: red;
  --tile42bgcolor2: red;
  --tile42bgcolor3: red;
  --tile42fontcolor: #f9f6f2; 
  --tile43bgcolor1: red;
  --tile43bgcolor2: red;
  --tile43bgcolor3: red;
  --tile43fontcolor: #f9f6f2;
  --tile44bgcolor1: red;
  --tile44bgcolor2: red;
  --tile44bgcolor3: red;
  --tile44fontcolor: #f9f6f2; 
  --tile45bgcolor1: red;
  --tile45bgcolor2: red;
  --tile45bgcolor3: red;
  --tile45fontcolor: #f9f6f2;
  --tile46bgcolor1: red;
  --tile46bgcolor2: red;
  --tile46bgcolor3: red;
  --tile46fontcolor: #f9f6f2; 
  --tile47bgcolor1: red;
  --tile47bgcolor2: red;
  --tile47bgcolor3: red;
  --tile47fontcolor: #f9f6f2;
  --tile48bgcolor1: red;
  --tile48bgcolor2: red;
  --tile48bgcolor3: red;
  --tile48fontcolor: #f9f6f2; 
  --tile49bgcolor1: red;
  --tile49bgcolor2: red;
  --tile49bgcolor3: red;
  --tile49fontcolor: #f9f6f2;
  --tile50bgcolor1: red;
  --tile50bgcolor2: red;
  --tile50bgcolor3: red;
  --tile50fontcolor: #f9f6f2; 
  --tile51bgcolor1: red;
  --tile51bgcolor2: red;
  --tile51bgcolor3: red;
  --tile51fontcolor: #f9f6f2;
  --tile52bgcolor1: red;
  --tile52bgcolor2: red;
  --tile52bgcolor3: red;
  --tile52fontcolor: #f9f6f2; 
  --tile53bgcolor1: red;
  --tile53bgcolor2: red;
  --tile53bgcolor3: red;
  --tile53fontcolor: #f9f6f2;
  --tile54bgcolor1: red;
  --tile54bgcolor2: red;
  --tile54bgcolor3: red;
  --tile54fontcolor: #f9f6f2; 
  --tile55bgcolor1: red;
  --tile55bgcolor2: red;
  --tile55bgcolor3: red;
  --tile55fontcolor: #f9f6f2;
  --tile56bgcolor1: red;
  --tile56bgcolor2: red;
  --tile56bgcolor3: red;
  --tile56fontcolor: #f9f6f2; 
  --tile57bgcolor1: red;
  --tile57bgcolor2: red;
  --tile57bgcolor3: red;
  --tile57fontcolor: #f9f6f2;
  --tile58bgcolor1: red;
  --tile58bgcolor2: red;
  --tile58bgcolor3: red;
  --tile58fontcolor: #f9f6f2; 
  --tile59bgcolor1: red;
  --tile59bgcolor2: red;
  --tile59bgcolor3: red;
  --tile59fontcolor: #f9f6f2;
  --tile60bgcolor1: red;
  --tile60bgcolor2: red;
  --tile60bgcolor3: red;
  --tile60fontcolor: #f9f6f2; 
  --tile61bgcolor1: red;
  --tile61bgcolor2: red;
  --tile61bgcolor3: red;
  --tile61fontcolor: #f9f6f2;
  --tile62bgcolor1: red;
  --tile62bgcolor2: red;
  --tile62bgcolor3: red;
  --tile62fontcolor: #f9f6f2; 
  --tile63bgcolor1: red;
  --tile63bgcolor2: red;
  --tile63bgcolor3: red;
  --tile63fontcolor: #f9f6f2;
  --tile64bgcolor1: red;
  --tile64bgcolor2: red;
  --tile64bgcolor3: red;
  --tile64fontcolor: #f9f6f2; 
}

body {
  margin: 80px 0; }

.heading:after {
  content: "";
  display: block;
  clear: both; }

h1.title {
  font-size: 80px;
  font-weight: bold;
  margin: 0;
  display: block;
  float: left; }

@-webkit-keyframes move-up {
  0% {
    top: 25px;
    opacity: 1; }

  100% {
    top: -50px;
    opacity: 0; } }

@-moz-keyframes move-up {
  0% {
    top: 25px;
    opacity: 1; }

  100% {
    top: -50px;
    opacity: 0; } }

@keyframes move-up {
  0% {
    top: 25px;
    opacity: 1; }

  100% {
    top: -50px;
    opacity: 0; } }

.scores-container {
  float: right;
  text-align: right; }

.score-container, .best-container {
  position: relative;
  display: inline-block;
  background: #bbada0;
  padding: 15px 25px;
  font-size: 25px;
  height: 25px;
  line-height: 47px;
  font-weight: bold;
  border-radius: 3px;
  color: white;
  margin-top: 8px;
  text-align: center; }
  .score-container:after, .best-container:after {
    position: absolute;
    width: 100%;
    top: 10px;
    left: 0;
    text-transform: uppercase;
    font-size: 13px;
    line-height: 13px;
    text-align: center;
    color: #eee4da; }
  .score-container .score-addition, .best-container .score-addition {
    position: absolute;
    right: 30px;
    color: red;
    font-size: 25px;
    line-height: 25px;
    font-weight: bold;
    color: rgba(119, 110, 101, 0.9);
    z-index: 100;
    -webkit-animation: move-up 600ms ease-in;
    -moz-animation: move-up 600ms ease-in;
    animation: move-up 600ms ease-in;
    -webkit-animation-fill-mode: both;
    -moz-animation-fill-mode: both;
    animation-fill-mode: both; }

.score-container:after {
  content: "Score"; }

.best-container:after {
  content: "Best"; }

p {
  margin-top: 0;
  margin-bottom: 10px;
  line-height: 1.65; }

a {
  color: #776e65;
  font-weight: bold;
  text-decoration: underline;
  cursor: pointer; }

strong.important {
  text-transform: uppercase; }

hr {
  border: none;
  border-bottom: 1px solid #d8d4d0;
  margin-top: 20px;
  margin-bottom: 30px; }

.container {
  width: 600px;
  margin: 0 auto; }

@-webkit-keyframes fade-in {
  0% {
    opacity: 0; }

  100% {
    opacity: 1; } }

@-moz-keyframes fade-in {
  0% {
    opacity: 0; }

  100% {
    opacity: 1; } }

@keyframes fade-in {
  0% {
    opacity: 0; }

  100% {
    opacity: 1; } }

.game-container {
  margin-top: 40px;
  margin-left: 60px;
  position: relative;
  padding: 10px;
  cursor: default;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  background: #bbada0;
  border-radius: 6px;
  width: 492px;
  height: 492px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }
  .game-container .game-message {
    display: none;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(238, 228, 218, 0.5);
    z-index: 100;
    text-align: center;
    -webkit-animation: fade-in 800ms ease 1200ms;
    -moz-animation: fade-in 800ms ease 1200ms;
    animation: fade-in 800ms ease 1200ms;
    -webkit-animation-fill-mode: both;
    -moz-animation-fill-mode: both;
    animation-fill-mode: both; }
    .game-container .game-message p {
      font-size: 60px;
      font-weight: bold;
      height: 60px;
      line-height: 60px;
      margin-top: 222px; }
    .game-container .game-message .lower {
      display: block;
      margin-top: 59px; }
    .game-container .game-message a {
      display: inline-block;
      background: #8f7a66;
      border-radius: 3px;
      padding: 0 20px;
      text-decoration: none;
      color: #f9f6f2;
      height: 40px;
      line-height: 42px;
      margin-left: 9px; }
      .game-container .game-message a.keep-playing-button {
        display: none; }
    .game-container .game-message .score-sharing {      display: inline-block;      vertical-align: middle;      margin-left: 10px; }    .game-container .game-message.game-won {
      background: rgba(237, 194, 46, 0.5);
      color: #f9f6f2; }
      .game-container .game-message.game-won a.keep-playing-button {
        display: inline-block; }
    .game-container .game-message.game-won, .game-container .game-message.game-over {
      display: block; }

.grid-container {
  position: absolute;
  z-index: 1; }

.grid-row {
  margin-bottom: 6.7px; }
  .grid-row:last-child {
    margin-bottom: 0; }
  .grid-row:after {
    content: "";
    display: block;
    clear: both; }

.grid-cell {
  width: 53.25px;
  height: 53.25px;
  margin-right: 6.7px;
  float: left;
  border-radius: 3px;
  background: rgba(238, 228, 218, 0.35); }
  .grid-cell:last-child {
    margin-right: 0; }

.tile-container {
  position: absolute;
  z-index: 2; }

.tile, .tile .tile-inner {
  width: 52.25px;
  height: 52.25px;
  line-height: 56.25px; }
.tile.tile-position-1-1 {
  -webkit-transform: translate(0px, 0px);
  -moz-transform: translate(0px, 0px);
  transform: translate(0px, 0px); }
.tile.tile-position-1-2 {
  -webkit-transform: translate(0px, 60px);
  -moz-transform: translate(0px, 60px);
  transform: translate(0px, 60px); }
.tile.tile-position-1-3 {
  -webkit-transform: translate(0px, 120px);
  -moz-transform: translate(0px, 120px);
  transform: translate(0px, 120px); }
.tile.tile-position-1-4 {
  -webkit-transform: translate(0px, 180px);
  -moz-transform: translate(0px, 180px);
  transform: translate(0px, 180px); }
.tile.tile-position-1-5 {
  -webkit-transform: translate(0px, 240px);
  -moz-transform: translate(0px, 240px);
  transform: translate(0px, 240px); }
.tile.tile-position-1-6 {
  -webkit-transform: translate(0px, 300px);
  -moz-transform: translate(0px, 300px);
  transform: translate(0px, 300px); }
.tile.tile-position-1-7 {
  -webkit-transform: translate(0px, 360px);
  -moz-transform: translate(0px, 360px);
  transform: translate(0px, 360px); }
.tile.tile-position-1-8 {
  -webkit-transform: translate(0px, 420px);
  -moz-transform: translate(0px, 420px);
  transform: translate(0px, 420px); }
.tile.tile-position-2-1 {
  -webkit-transform: translate(60px, 0px);
  -moz-transform: translate(60px, 0px);
  transform: translate(60px, 0px); }
.tile.tile-position-2-2 {
  -webkit-transform: translate(60px, 60px);
  -moz-transform: translate(60px, 60px);
  transform: translate(60px, 60px); }
.tile.tile-position-2-3 {
  -webkit-transform: translate(60px, 120px);
  -moz-transform: translate(60px, 120px);
  transform: translate(60px, 120px); }
.tile.tile-position-2-4 {
  -webkit-transform: translate(60px, 180px);
  -moz-transform: translate(60px, 180px);
  transform: translate(60px, 180px); }
.tile.tile-position-2-5 {
  -webkit-transform: translate(60px, 240px);
  -moz-transform: translate(60px, 240px);
  transform: translate(60px, 240px); }
.tile.tile-position-2-6 {
  -webkit-transform: translate(60px, 300px);
  -moz-transform: translate(60px, 300px);
  transform: translate(60px, 300px); }
.tile.tile-position-2-7 {
  -webkit-transform: translate(60px, 360px);
  -moz-transform: translate(60px, 360px);
  transform: translate(60px, 360px); }
.tile.tile-position-2-8 {
  -webkit-transform: translate(60px, 420px);
  -moz-transform: translate(60px, 420px);
  transform: translate(60px, 420px); }
.tile.tile-position-3-1 {
  -webkit-transform: translate(120px, 0px);
  -moz-transform: translate(120px, 0px);
  transform: translate(120px, 0px); }
.tile.tile-position-3-2 {
  -webkit-transform: translate(120px, 60px);
  -moz-transform: translate(120px, 60px);
  transform: translate(120px, 60px); }
.tile.tile-position-3-3 {
  -webkit-transform: translate(120px, 120px);
  -moz-transform: translate(120px, 120px);
  transform: translate(120px, 120px); }
.tile.tile-position-3-4 {
  -webkit-transform: translate(120px, 180px);
  -moz-transform: translate(120px, 180px);
  transform: translate(120px, 180px); }
.tile.tile-position-3-5 {
  -webkit-transform: translate(120px, 240px);
  -moz-transform: translate(120px, 240px);
  transform: translate(120px, 240px); }
.tile.tile-position-3-6 {
  -webkit-transform: translate(120px, 300px);
  -moz-transform: translate(120px, 300px);
  transform: translate(120px, 300px); }
.tile.tile-position-3-7 {
  -webkit-transform: translate(120px, 360px);
  -moz-transform: translate(120px, 360px);
  transform: translate(120px, 360px); }
.tile.tile-position-3-8 {
  -webkit-transform: translate(120px, 420px);
  -moz-transform: translate(120px, 420px);
  transform: translate(120px, 420px); }
.tile.tile-position-4-1 {
  -webkit-transform: translate(180px, 0px);
  -moz-transform: translate(180px, 0px);
  transform: translate(180px, 0px); }
.tile.tile-position-4-2 {
  -webkit-transform: translate(180px, 60px);
  -moz-transform: translate(180px, 60px);
  transform: translate(180px, 60px); }
.tile.tile-position-4-3 {
  -webkit-transform: translate(180px, 120px);
  -moz-transform: translate(180px, 120px);
  transform: translate(180px, 120px); }
.tile.tile-position-4-4 {
  -webkit-transform: translate(180px, 180px);
  -moz-transform: translate(180px, 180px);
  transform: translate(180px, 180px); }
.tile.tile-position-4-5 {
  -webkit-transform: translate(180px, 240px);
  -moz-transform: translate(180px, 240px);
  transform: translate(180px, 240px); }
.tile.tile-position-4-6 {
  -webkit-transform: translate(180px, 300px);
  -moz-transform: translate(180px, 300px);
  transform: translate(180px, 300px); }
.tile.tile-position-4-7 {
  -webkit-transform: translate(180px, 360px);
  -moz-transform: translate(180px, 360px);
  transform: translate(180px, 360px); }
.tile.tile-position-4-8 {
  -webkit-transform: translate(180px, 420px);
  -moz-transform: translate(180px, 420px);
  transform: translate(180px, 420px); }
.tile.tile-position-5-1 {
  -webkit-transform: translate(240px, 0px);
  -moz-transform: translate(240px, 0px);
  transform: translate(240px, 0px); }
.tile.tile-position-5-2 {
  -webkit-transform: translate(240px, 60px);
  -moz-transform: translate(240px, 60px);
  transform: translate(240px, 60px); }
.tile.tile-position-5-3 {
  -webkit-transform: translate(240px, 120px);
  -moz-transform: translate(240px, 120px);
  transform: translate(240px, 120px); }
.tile.tile-position-5-4 {
  -webkit-transform: translate(240px, 180px);
  -moz-transform: translate(240px, 180px);
  transform: translate(240px, 180px); }
.tile.tile-position-5-5 {
  -webkit-transform: translate(240px, 240px);
  -moz-transform: translate(240px, 240px);
  transform: translate(240px, 240px); }
.tile.tile-position-5-6 {
  -webkit-transform: translate(240px, 300px);
  -moz-transform: translate(240px, 300px);
  transform: translate(240px, 300px); }
.tile.tile-position-5-7 {
  -webkit-transform: translate(240px, 360px);
  -moz-transform: translate(240px, 360px);
  transform: translate(240px, 360px); }
.tile.tile-position-5-8 {
  -webkit-transform: translate(240px, 420px);
  -moz-transform: translate(240px, 420px);
  transform: translate(240px, 420px); }
.tile.tile-position-6-1 {
  -webkit-transform: translate(300px, 0px);
  -moz-transform: translate(300px, 0px);
  transform: translate(300px, 0px); }
.tile.tile-position-6-2 {
  -webkit-transform: translate(300px, 60px);
  -moz-transform: translate(300px, 60px);
  transform: translate(300px, 60px); }
.tile.tile-position-6-3 {
  -webkit-transform: translate(300px, 120px);
  -moz-transform: translate(300px, 120px);
  transform: translate(300px, 120px); }
.tile.tile-position-6-4 {
  -webkit-transform: translate(300px, 180px);
  -moz-transform: translate(300px, 180px);
  transform: translate(300px, 180px); }
.tile.tile-position-6-5 {
  -webkit-transform: translate(300px, 240px);
  -moz-transform: translate(300px, 240px);
  transform: translate(300px, 240px); }
.tile.tile-position-6-6 {
  -webkit-transform: translate(300px, 300px);
  -moz-transform: translate(300px, 300px);
  transform: translate(300px, 300px); }
.tile.tile-position-6-7 {
  -webkit-transform: translate(300px, 360px);
  -moz-transform: translate(300px, 360px);
  transform: translate(300px, 360px); }
.tile.tile-position-6-8 {
  -webkit-transform: translate(300px, 420px);
  -moz-transform: translate(300px, 420px);
  transform: translate(300px, 420px); }
.tile.tile-position-7-1 {
  -webkit-transform: translate(360px, 0px);
  -moz-transform: translate(360px, 0px);
  transform: translate(360px, 0px); }
.tile.tile-position-7-2 {
  -webkit-transform: translate(360px, 60px);
  -moz-transform: translate(360px, 60px);
  transform: translate(360px, 60px); }
.tile.tile-position-7-3 {
  -webkit-transform: translate(360px, 120px);
  -moz-transform: translate(360px, 120px);
  transform: translate(360px, 120px); }
.tile.tile-position-7-4 {
  -webkit-transform: translate(360px, 180px);
  -moz-transform: translate(360px, 180px);
  transform: translate(360px, 180px); }
.tile.tile-position-7-5 {
  -webkit-transform: translate(360px, 240px);
  -moz-transform: translate(360px, 240px);
  transform: translate(360px, 240px); }
.tile.tile-position-7-6 {
  -webkit-transform: translate(360px, 300px);
  -moz-transform: translate(360px, 300px);
  transform: translate(360px, 300px); }
.tile.tile-position-7-7 {
  -webkit-transform: translate(360px, 360px);
  -moz-transform: translate(360px, 360px);
  transform: translate(360px, 360px); }
.tile.tile-position-7-8 {
  -webkit-transform: translate(360px, 420px);
  -moz-transform: translate(360px, 420px);
  transform: translate(360px, 420px); }
.tile.tile-position-8-1 {
  -webkit-transform: translate(420px, 0px);
  -moz-transform: translate(420px, 0px);
  transform: translate(420px, 0px); }
.tile.tile-position-8-2 {
  -webkit-transform: translate(420px, 60px);
  -moz-transform: translate(420px, 60px);
  transform: translate(420px, 60px); }
.tile.tile-position-8-3 {
  -webkit-transform: translate(420px, 120px);
  -moz-transform: translate(420px, 120px);
  transform: translate(420px, 120px); }
.tile.tile-position-8-4 {
  -webkit-transform: translate(420px, 180px);
  -moz-transform: translate(420px, 180px);
  transform: translate(420px, 180px); }
.tile.tile-position-8-5 {
  -webkit-transform: translate(420px, 240px);
  -moz-transform: translate(420px, 240px);
  transform: translate(420px, 240px); }
.tile.tile-position-8-6 {
  -webkit-transform: translate(420px, 300px);
  -moz-transform: translate(420px, 300px);
  transform: translate(420px, 300px); }
.tile.tile-position-8-7 {
  -webkit-transform: translate(420px, 360px);
  -moz-transform: translate(420px, 360px);
  transform: translate(420px, 360px); }
.tile.tile-position-8-8 {
  -webkit-transform: translate(420px, 420px);
  -moz-transform: translate(420px, 420px);
  transform: translate(420px, 420px); }

.tile {
  position: absolute;
  -webkit-transition: 100ms ease-in-out;
  -moz-transition: 100ms ease-in-out;
  transition: 100ms ease-in-out;
  -webkit-transition-property: -webkit-transform;
  -moz-transition-property: -moz-transform;
  transition-property: transform; }
  .tile .tile-inner {
    border-radius: 3px;
    /*
    background: #321b77;
    color: #f9f6f2;
    */
    text-align: center;
    font-weight: bold;
    z-index: 10;
    font-size: 30px; }
  --test: #ffffff;
  --tile1bgcolor1: red;
  --tile1bgcolor2: red;
  --tile1bgcolor3: red;
  --tile1fontcolor: #f9f6f2;
  --tile2bgcolor1: red;
  --tile2bgcolor2: red;
  --tile2bgcolor3: red;
  --tile2fontcolor: #f9f6f2; 
  --tile3bgcolor1: red;
  --tile3bgcolor2: red;
  --tile3bgcolor3: red;
  --tile3fontcolor: #f9f6f2;
  --tile4bgcolor1: red;
  --tile4bgcolor2: red;
  --tile4bgcolor3: red;
  --tile4fontcolor: #f9f6f2; 
  --tile5bgcolor1: red;
  --tile5bgcolor2: red;
  --tile5bgcolor3: red;
  --tile5fontcolor: #f9f6f2;
  --tile6bgcolor1: red;
  --tile6bgcolor2: red;
  --tile6bgcolor3: red;
  --tile6fontcolor: #f9f6f2; 
  --tile7bgcolor1: red;
  --tile7bgcolor2: red;
  --tile7bgcolor3: red;
  --tile7fontcolor: #f9f6f2;
  --tile8bgcolor1: red;
  --tile8bgcolor2: red;
  --tile8bgcolor3: red;
  --tile8fontcolor: #f9f6f2; 
  --tile9bgcolor1: red;
  --tile9bgcolor2: red;
  --tile9bgcolor3: red;
  --tile9fontcolor: #f9f6f2;
  --tile10bgcolor1: red;
  --tile10bgcolor2: red;
  --tile10bgcolor3: red;
  --tile10fontcolor: #f9f6f2; 
  --tile11bgcolor1: red;
  --tile11bgcolor2: red;
  --tile11bgcolor3: red;
  --tile11fontcolor: #f9f6f2;
  --tile12bgcolor1: red;
  --tile12bgcolor2: red;
  --tile12bgcolor3: red;
  --tile12fontcolor: #f9f6f2; 
  --tile13bgcolor1: red;
  --tile13bgcolor2: red;
  --tile13bgcolor3: red;
  --tile13fontcolor: #f9f6f2;
  --tile14bgcolor1: red;
  --tile14bgcolor2: red;
  --tile14bgcolor3: red;
  --tile14fontcolor: #f9f6f2; 
  --tile15bgcolor1: red;
  --tile15bgcolor2: red;
  --tile15bgcolor3: red;
  --tile15fontcolor: #f9f6f2;
  --tile16bgcolor1: red;
  --tile16bgcolor2: red;
  --tile16bgcolor3: red;
  --tile16fontcolor: #f9f6f2; 
  --tile17bgcolor1: red;
  --tile17bgcolor2: red;
  --tile17bgcolor3: red;
  --tile17fontcolor: #f9f6f2;
  --tile18bgcolor1: red;
  --tile18bgcolor2: red;
  --tile18bgcolor3: red;
  --tile18fontcolor: #f9f6f2; 
  --tile19bgcolor1: red;
  --tile19bgcolor2: red;
  --tile19bgcolor3: red;
  --tile19fontcolor: #f9f6f2;
  --tile20bgcolor1: red;
  --tile20bgcolor2: red;
  --tile20bgcolor3: red;
  --tile20fontcolor: #f9f6f2; 
  --tile21bgcolor1: red;
  --tile21bgcolor2: red;
  --tile21bgcolor3: red;
  --tile21fontcolor: #f9f6f2;
  --tile22bgcolor1: red;
  --tile22bgcolor2: red;
  --tile22bgcolor3: red;
  --tile22fontcolor: #f9f6f2; 
  --tile23bgcolor1: red;
  --tile23bgcolor2: red;
  --tile23bgcolor3: red;
  --tile23fontcolor: #f9f6f2;
  --tile24bgcolor1: red;
  --tile24bgcolor2: red;
  --tile24bgcolor3: red;
  --tile24fontcolor: #f9f6f2; 
  --tile25bgcolor1: red;
  --tile25bgcolor2: red;
  --tile25bgcolor3: red;
  --tile25fontcolor: #f9f6f2;
  --tile26bgcolor1: red;
  --tile26bgcolor2: red;
  --tile26bgcolor3: red;
  --tile26fontcolor: #f9f6f2; 
  --tile27bgcolor1: red;
  --tile27bgcolor2: red;
  --tile27bgcolor3: red;
  --tile27fontcolor: #f9f6f2;
  --tile28bgcolor1: red;
  --tile28bgcolor2: red;
  --tile28bgcolor3: red;
  --tile28fontcolor: #f9f6f2; 
  --tile29bgcolor1: red;
  --tile29bgcolor2: red;
  --tile29bgcolor3: red;
  --tile29fontcolor: #f9f6f2;
  --tile30bgcolor1: red;
  --tile30bgcolor2: red;
  --tile30bgcolor3: red;
  --tile30fontcolor: #f9f6f2; 
  --tile31bgcolor1: red;
  --tile31bgcolor2: red;
  --tile31bgcolor3: red;
  --tile31fontcolor: #f9f6f2;
  --tile32bgcolor1: red;
  --tile32bgcolor2: red;
  --tile32bgcolor3: red;
  --tile32fontcolor: #f9f6f2; 
  --tile33bgcolor1: red;
  --tile33bgcolor2: red;
  --tile33bgcolor3: red;
  --tile33fontcolor: #f9f6f2;
  --tile34bgcolor1: red;
  --tile34bgcolor2: red;
  --tile34bgcolor3: red;
  --tile34fontcolor: #f9f6f2; 
  --tile35bgcolor1: red;
  --tile35bgcolor2: red;
  --tile35bgcolor3: red;
  --tile35fontcolor: #f9f6f2;
  --tile36bgcolor1: red;
  --tile36bgcolor2: red;
  --tile36bgcolor3: red;
  --tile36fontcolor: #f9f6f2; 
  --tile37bgcolor1: red;
  --tile37bgcolor2: red;
  --tile37bgcolor3: red;
  --tile37fontcolor: #f9f6f2;
  --tile38bgcolor1: red;
  --tile38bgcolor2: red;
  --tile38bgcolor3: red;
  --tile38fontcolor: #f9f6f2; 
  --tile39bgcolor1: red;
  --tile39bgcolor2: red;
  --tile39bgcolor3: red;
  --tile39fontcolor: #f9f6f2;
  --tile40bgcolor1: red;
  --tile40bgcolor2: red;
  --tile40bgcolor3: red;
  --tile40fontcolor: #f9f6f2; 
  --tile41bgcolor1: red;
  --tile41bgcolor2: red;
  --tile41bgcolor3: red;
  --tile41fontcolor: #f9f6f2;
  --tile42bgcolor1: red;
  --tile42bgcolor2: red;
  --tile42bgcolor3: red;
  --tile42fontcolor: #f9f6f2; 
  --tile43bgcolor1: red;
  --tile43bgcolor2: red;
  --tile43bgcolor3: red;
  --tile43fontcolor: #f9f6f2;
  --tile44bgcolor1: red;
  --tile44bgcolor2: red;
  --tile44bgcolor3: red;
  --tile44fontcolor: #f9f6f2; 
  --tile45bgcolor1: red;
  --tile45bgcolor2: red;
  --tile45bgcolor3: red;
  --tile45fontcolor: #f9f6f2;
  --tile46bgcolor1: red;
  --tile46bgcolor2: red;
  --tile46bgcolor3: red;
  --tile46fontcolor: #f9f6f2; 
  --tile47bgcolor1: red;
  --tile47bgcolor2: red;
  --tile47bgcolor3: red;
  --tile47fontcolor: #f9f6f2;
  --tile48bgcolor1: red;
  --tile48bgcolor2: red;
  --tile48bgcolor3: red;
  --tile48fontcolor: #f9f6f2; 
  --tile49bgcolor1: red;
  --tile49bgcolor2: red;
  --tile49bgcolor3: red;
  --tile49fontcolor: #f9f6f2;
  --tile50bgcolor1: red;
  --tile50bgcolor2: red;
  --tile50bgcolor3: red;
  --tile50fontcolor: #f9f6f2; 
  --tile51bgcolor1: red;
  --tile51bgcolor2: red;
  --tile51bgcolor3: red;
  --tile51fontcolor: #f9f6f2;
  --tile52bgcolor1: red;
  --tile52bgcolor2: red;
  --tile52bgcolor3: red;
  --tile52fontcolor: #f9f6f2; 
  --tile53bgcolor1: red;
  --tile53bgcolor2: red;
  --tile53bgcolor3: red;
  --tile53fontcolor: #f9f6f2;
  --tile54bgcolor1: red;
  --tile54bgcolor2: red;
  --tile54bgcolor3: red;
  --tile54fontcolor: #f9f6f2; 
  --tile55bgcolor1: red;
  --tile55bgcolor2: red;
  --tile55bgcolor3: red;
  --tile55fontcolor: #f9f6f2;
  --tile56bgcolor1: red;
  --tile56bgcolor2: red;
  --tile56bgcolor3: red;
  --tile56fontcolor: #f9f6f2; 
  --tile57bgcolor1: red;
  --tile57bgcolor2: red;
  --tile57bgcolor3: red;
  --tile57fontcolor: #f9f6f2;
  --tile58bgcolor1: red;
  --tile58bgcolor2: red;
  --tile58bgcolor3: red;
  --tile58fontcolor: #f9f6f2; 
  --tile59bgcolor1: red;
  --tile59bgcolor2: red;
  --tile59bgcolor3: red;
  --tile59fontcolor: #f9f6f2;
  --tile60bgcolor1: red;
  --tile60bgcolor2: red;
  --tile60bgcolor3: red;
  --tile60fontcolor: #f9f6f2; 
  --tile61bgcolor1: red;
  --tile61bgcolor2: red;
  --tile61bgcolor3: red;
  --tile61fontcolor: #f9f6f2;
  --tile62bgcolor1: red;
  --tile62bgcolor2: red;
  --tile62bgcolor3: red;
  --tile62fontcolor: #f9f6f2; 
  --tile63bgcolor1: red;
  --tile63bgcolor2: red;
  --tile63bgcolor3: red;
  --tile63fontcolor: #f9f6f2;
  --tile64bgcolor1: red;
  --tile64bgcolor2: red;
  --tile64bgcolor3: red;
  --tile64fontcolor: #f9f6f2; 
  .tile.tile--2 .tile-inner {
    color: #f9f6f2;
    background: #9b4800; }
  .tile.tile--1 .tile-inner {
    color: #f9f6f2;
    background: #5b2b21; }
  .tile.tile-0 .tile-inner {
    color: #cdc1b4;
    background: #cdc1b4; }

  .tile.tile-1 .tile-inner {
    color: var (--tile1fontcolor);
    background: linear-gradient(to right, var (--tile1bgcolor1), var (--tile1bgcolor2), var (--tile1bgcolor3)); }
  .tile.tile-2 .tile-inner {
    color: var (--tile2fontcolor);
    background: linear-gradient(to right, var (--tile2bgcolor1), var (--tile2bgcolor2), var (--tile2bgcolor3)); }
  .tile.tile-3 .tile-inner {
    color: var (--tile3fontcolor);
    background: linear-gradient(to right, var (--tile3bgcolor1), var (--tile3bgcolor2), var (--tile3bgcolor3)); }
  .tile.tile-4 .tile-inner {
    color: var (--tile4fontcolor);
    background: linear-gradient(to right, var (--tile4bgcolor1), var (--tile4bgcolor2), var (--tile4bgcolor3)); }
  .tile.tile-5 .tile-inner {
    color: var (--tile5fontcolor);
    background: linear-gradient(to right, var (--tile5bgcolor1), var (--tile5bgcolor2), var (--tile5bgcolor3)); }
  .tile.tile-6 .tile-inner {
    color: var (--tile6fontcolor);
    background: linear-gradient(to right, var (--tile6bgcolor1), var (--tile6bgcolor2), var (--tile6bgcolor3)); }
  .tile.tile-7 .tile-inner {
    color: var (--tile7fontcolor);
    background: linear-gradient(to right, var (--tile7bgcolor1), var (--tile7bgcolor2), var (--tile7bgcolor3)); }
  .tile.tile-8 .tile-inner {
    color: var (--tile8fontcolor);
    background: linear-gradient(to right, var (--tile8bgcolor1), var (--tile8bgcolor2), var (--tile8bgcolor3)); }
  .tile.tile-9 .tile-inner {
    color: var (--tile9fontcolor);
    background: linear-gradient(to right, var (--tile9bgcolor1), var (--tile9bgcolor2), var (--tile9bgcolor3)); }
  .tile.tile-10 .tile-inner {
    color: var (--tile10fontcolor);
    background: linear-gradient(to right, var (--tile10bgcolor1), var (--tile10bgcolor2), var (--tile10bgcolor3)); }
  .tile.tile-11 .tile-inner {
    color: var (--tile11fontcolor);
    background: linear-gradient(to right, var (--tile11bgcolor1), var (--tile11bgcolor2), var (--tile11bgcolor3)); }
  .tile.tile-12 .tile-inner {
    color: var (--tile12fontcolor);
    background: linear-gradient(to right, var (--tile12bgcolor1), var (--tile12bgcolor2), var (--tile12bgcolor3)); }
  .tile.tile-13 .tile-inner {
    color: var (--tile13fontcolor);
    background: linear-gradient(to right, var (--tile13bgcolor1), var (--tile13bgcolor2), var (--tile13bgcolor3)); }
  .tile.tile-14 .tile-inner {
    color: var (--tile14fontcolor);
    background: linear-gradient(to right, var (--tile14bgcolor1), var (--tile14bgcolor2), var (--tile14bgcolor3)); }
  .tile.tile-15 .tile-inner {
    color: var (--tile15fontcolor);
    background: linear-gradient(to right, var (--tile15bgcolor1), var (--tile15bgcolor2), var (--tile15bgcolor3)); }
  .tile.tile-16 .tile-inner {
    color: var (--tile16fontcolor);
    background: linear-gradient(to right, var (--tile16bgcolor1), var (--tile16bgcolor2), var (--tile16bgcolor3)); }
  .tile.tile-17 .tile-inner {
    color: var (--tile17fontcolor);
    background: linear-gradient(to right, var (--tile17bgcolor1), var (--tile17bgcolor2), var (--tile17bgcolor3)); }
  .tile.tile-18 .tile-inner {
    color: var (--tile18fontcolor);
    background: linear-gradient(to right, var (--tile18bgcolor1), var (--tile18bgcolor2), var (--tile18bgcolor3)); }
  .tile.tile-19 .tile-inner {
    color: var (--tile19fontcolor);
    background: linear-gradient(to right, var (--tile19bgcolor1), var (--tile19bgcolor2), var (--tile19bgcolor3)); }
  .tile.tile-20 .tile-inner {
    color: var (--tile20fontcolor);
    background: linear-gradient(to right, var (--tile20bgcolor1), var (--tile20bgcolor2), var (--tile20bgcolor3)); }
  .tile.tile-21 .tile-inner {
    color: var (--tile21fontcolor);
    background: linear-gradient(to right, var (--tile21bgcolor1), var (--tile21bgcolor2), var (--tile21bgcolor3)); }
  .tile.tile-22 .tile-inner {
    color: var (--tile22fontcolor);
    background: linear-gradient(to right, var (--tile22bgcolor1), var (--tile22bgcolor2), var (--tile22bgcolor3)); }
  .tile.tile-23 .tile-inner {
    color: var (--tile23fontcolor);
    background: linear-gradient(to right, var (--tile23bgcolor1), var (--tile23bgcolor2), var (--tile23bgcolor3)); }
  .tile.tile-24 .tile-inner {
    color: var (--tile24fontcolor);
    background: linear-gradient(to right, var (--tile24bgcolor1), var (--tile24bgcolor2), var (--tile24bgcolor3)); }
  .tile.tile-25 .tile-inner {
    color: var (--tile25fontcolor);
    background: linear-gradient(to right, var (--tile25bgcolor1), var (--tile25bgcolor2), var (--tile25bgcolor3)); }
  .tile.tile-26 .tile-inner {
    color: var (--tile26fontcolor);
    background: linear-gradient(to right, var (--tile26bgcolor1), var (--tile26bgcolor2), var (--tile26bgcolor3)); }
  .tile.tile-27 .tile-inner {
    color: var (--tile27fontcolor);
    background: linear-gradient(to right, var (--tile27bgcolor1), var (--tile27bgcolor2), var (--tile27bgcolor3)); }
  .tile.tile-28 .tile-inner {
    color: var (--tile28fontcolor);
    background: linear-gradient(to right, var (--tile28bgcolor1), var (--tile28bgcolor2), var (--tile28bgcolor3)); }
  .tile.tile-29 .tile-inner {
    color: var (--tile29fontcolor);
    background: linear-gradient(to right, var (--tile29bgcolor1), var (--tile29bgcolor2), var (--tile29bgcolor3)); }
  .tile.tile-30 .tile-inner {
    color: var (--tile30fontcolor);
    background: linear-gradient(to right, var (--tile30bgcolor1), var (--tile30bgcolor2), var (--tile30bgcolor3)); }
  .tile.tile-31 .tile-inner {
    color: var (--tile31fontcolor);
    background: linear-gradient(to right, var (--tile31bgcolor1), var (--tile31bgcolor2), var (--tile31bgcolor3)); }
  .tile.tile-32 .tile-inner {
    color: var (--tile32fontcolor);
    background: linear-gradient(to right, var (--tile32bgcolor1), var (--tile32bgcolor2), var (--tile32bgcolor3)); }
  .tile.tile-33 .tile-inner {
    color: var (--tile33fontcolor);
    background: linear-gradient(to right, var (--tile33bgcolor1), var (--tile33bgcolor2), var (--tile33bgcolor3)); }
  .tile.tile-34 .tile-inner {
    color: var (--tile34fontcolor);
    background: linear-gradient(to right, var (--tile34bgcolor1), var (--tile34bgcolor2), var (--tile34bgcolor3)); }
  .tile.tile-35 .tile-inner {
    color: var (--tile35fontcolor);
    background: linear-gradient(to right, var (--tile35bgcolor1), var (--tile35bgcolor2), var (--tile35bgcolor3)); }
  .tile.tile-36 .tile-inner {
    color: var (--tile36fontcolor);
    background: linear-gradient(to right, var (--tile36bgcolor1), var (--tile36bgcolor2), var (--tile36bgcolor3)); }
  .tile.tile-37 .tile-inner {
    color: var (--tile37fontcolor);
    background: linear-gradient(to right, var (--tile37bgcolor1), var (--tile37bgcolor2), var (--tile37bgcolor3)); }
  .tile.tile-38 .tile-inner {
    color: var (--tile38fontcolor);
    background: linear-gradient(to right, var (--tile38bgcolor1), var (--tile38bgcolor2), var (--tile38bgcolor3)); }
  .tile.tile-39 .tile-inner {
    color: var (--tile39fontcolor);
    background: linear-gradient(to right, var (--tile39bgcolor1), var (--tile39bgcolor2), var (--tile39bgcolor3)); }
  .tile.tile-40 .tile-inner {
    color: var (--tile40fontcolor);
    background: linear-gradient(to right, var (--tile40bgcolor1), var (--tile40bgcolor2), var (--tile40bgcolor3)); }
  .tile.tile-41 .tile-inner {
    color: var (--tile41fontcolor);
    background: linear-gradient(to right, var (--tile41bgcolor1), var (--tile41bgcolor2), var (--tile41bgcolor3)); }
  .tile.tile-42 .tile-inner {
    color: var (--tile42fontcolor);
    background: linear-gradient(to right, var (--tile42bgcolor1), var (--tile42bgcolor2), var (--tile42bgcolor3)); }
  .tile.tile-43 .tile-inner {
    color: var (--tile43fontcolor);
    background: linear-gradient(to right, var (--tile43bgcolor1), var (--tile43bgcolor2), var (--tile43bgcolor3)); }
  .tile.tile-44 .tile-inner {
    color: var (--tile44fontcolor);
    background: linear-gradient(to right, var (--tile44bgcolor1), var (--tile44bgcolor2), var (--tile44bgcolor3)); }
  .tile.tile-45 .tile-inner {
    color: var (--tile45fontcolor);
    background: linear-gradient(to right, var (--tile45bgcolor1), var (--tile45bgcolor2), var (--tile45bgcolor3)); }
  .tile.tile-46 .tile-inner {
    color: var (--tile46fontcolor);
    background: linear-gradient(to right, var (--tile46bgcolor1), var (--tile46bgcolor2), var (--tile46bgcolor3)); }
  .tile.tile-47 .tile-inner {
    color: var (--tile47fontcolor);
    background: linear-gradient(to right, var (--tile47bgcolor1), var (--tile47bgcolor2), var (--tile47bgcolor3)); }
  .tile.tile-48 .tile-inner {
    color: var (--tile48fontcolor);
    background: linear-gradient(to right, var (--tile48bgcolor1), var (--tile48bgcolor2), var (--tile48bgcolor3)); }
  .tile.tile-49 .tile-inner {
    color: var (--tile49fontcolor);
    background: linear-gradient(to right, var (--tile49bgcolor1), var (--tile49bgcolor2), var (--tile49bgcolor3)); }
  .tile.tile-50 .tile-inner {
    color: var (--tile50fontcolor);
    background: linear-gradient(to right, var (--tile50bgcolor1), var (--tile50bgcolor2), var (--tile50bgcolor3)); }
  .tile.tile-51 .tile-inner {
    color: var (--tile51fontcolor);
    background: linear-gradient(to right, var (--tile51bgcolor1), var (--tile51bgcolor2), var (--tile51bgcolor3)); }
  .tile.tile-52 .tile-inner {
    color: var (--tile52fontcolor);
    background: linear-gradient(to right, var (--tile52bgcolor1), var (--tile52bgcolor2), var (--tile52bgcolor3)); }
  .tile.tile-53 .tile-inner {
    color: var (--tile53fontcolor);
    background: linear-gradient(to right, var (--tile53bgcolor1), var (--tile53bgcolor2), var (--tile53bgcolor3)); }
  .tile.tile-54 .tile-inner {
    color: var (--tile54fontcolor);
    background: linear-gradient(to right, var (--tile54bgcolor1), var (--tile54bgcolor2), var (--tile54bgcolor3)); }
  .tile.tile-55 .tile-inner {
    color: var (--tile55fontcolor);
    background: linear-gradient(to right, var (--tile55bgcolor1), var (--tile55bgcolor2), var (--tile55bgcolor3)); }
  .tile.tile-56 .tile-inner {
    color: var (--tile56fontcolor);
    background: linear-gradient(to right, var (--tile56bgcolor1), var (--tile56bgcolor2), var (--tile56bgcolor3)); }
  .tile.tile-57 .tile-inner {
    color: var (--tile57fontcolor);
    background: linear-gradient(to right, var (--tile57bgcolor1), var (--tile57bgcolor2), var (--tile57bgcolor3)); }
  .tile.tile-58 .tile-inner {
    color: var (--tile58fontcolor);
    background: linear-gradient(to right, var (--tile58bgcolor1), var (--tile58bgcolor2), var (--tile58bgcolor3)); }
  .tile.tile-59 .tile-inner {
    color: var (--tile59fontcolor);
    background: linear-gradient(to right, var (--tile59bgcolor1), var (--tile59bgcolor2), var (--tile59bgcolor3)); }
  .tile.tile-60 .tile-inner {
    color: var (--tile60fontcolor);
    background: linear-gradient(to right, var (--tile60bgcolor1), var (--tile60bgcolor2), var (--tile60bgcolor3)); }
  .tile.tile-61 .tile-inner {
    color: var (--tile61fontcolor);
    background: linear-gradient(to right, var (--tile61bgcolor1), var (--tile61bgcolor2), var (--tile61bgcolor3)); }
  .tile.tile-62 .tile-inner {
    color: var (--tile62fontcolor);
    background: linear-gradient(to right, var (--tile62bgcolor1), var (--tile62bgcolor2), var (--tile62bgcolor3)); }
  .tile.tile-63 .tile-inner {
    color: var (--tile63fontcolor);
    background: linear-gradient(to right, var (--tile63bgcolor1), var (--tile63bgcolor2), var (--tile63bgcolor3)); }
  .tile.tile-64 .tile-inner {
    color: var (--tile64fontcolor);
    background: linear-gradient(to right, var (--tile64bgcolor1), var (--tile64bgcolor2), var (--tile64bgcolor3)); }


@-webkit-keyframes appear {
  0% {
    opacity: 0;
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    transform: scale(0); }

  100% {
    opacity: 1;
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    transform: scale(1); } }

@-moz-keyframes appear {
  0% {
    opacity: 0;
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    transform: scale(0); }

  100% {
    opacity: 1;
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    transform: scale(1); } }

@keyframes appear {
  0% {
    opacity: 0;
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    transform: scale(0); }

  100% {
    opacity: 1;
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    transform: scale(1); } }

.tile-new .tile-inner {
  -webkit-animation: appear 200ms ease 100ms;
  -moz-animation: appear 200ms ease 100ms;
  animation: appear 200ms ease 100ms;
  -webkit-animation-fill-mode: backwards;
  -moz-animation-fill-mode: backwards;
  animation-fill-mode: backwards; }

@-webkit-keyframes pop {
  0% {
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    transform: scale(0); }

  50% {
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    transform: scale(1.2); }

  100% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    transform: scale(1); } }

@-moz-keyframes pop {
  0% {
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    transform: scale(0); }

  50% {
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    transform: scale(1.2); }

  100% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    transform: scale(1); } }

@keyframes pop {
  0% {
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    transform: scale(0); }

  50% {
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    transform: scale(1.2); }

  100% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    transform: scale(1); } }

.tile-merged .tile-inner {
  z-index: 20;
  -webkit-animation: pop 200ms ease 100ms;
  -moz-animation: pop 200ms ease 100ms;
  animation: pop 200ms ease 100ms;
  -webkit-animation-fill-mode: backwards;
  -moz-animation-fill-mode: backwards;
  animation-fill-mode: backwards; }

.game-intro {
  margin-bottom: 0; }

.game-explanation {
  margin-top: 50px; }
